/*
 * Estilos de tu proyecto
 */
header{
  position: fixed;
}
nav{
   background: #2C3E50;
   font-weight: bolder;
   padding: 40px;
}
nav a{
   color: white;
   font-size: 14px;
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
}

nav a:hover{
  color: #18bc9c;
}
.titulo{
   font-size: 1.8em;
   line-height: 20px;
}

.titulo:hover{
   color: white;
}

.inicio{
  background: #18bc9c;
  padding: 17% 8% 8% 8%;
}
.inicio h1{
  padding-top:3%;
  font-size: 4.5em;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.linea{
  width: 80px;
  height: 4.8px;
  background: white;
  display: inline-block;
  vertical-align:super;
}
.fa-star{
  color: white;
  font-size: 1.5em;
  padding: .5%;
}
.inicio p{
  padding-top:2%;
  color: white;
  font-size: 1.5em;
}
.portfolio, .contact{
  padding: 8%;
}
.portfolio h2{
  color: #333;
  font-size: 2.8em;
  font-family: 'Montserrat', sans-serif;
}
.portfolio .fa-star{
  color: #2C3E50;
}
.portfolio>article>section>div{
  background:#2C3E50;
}
.portfolio img{
  width: 124%;
}
.portfolio img:hover{
  background: rgba(24,188,156,.9)
}
.rellenoFila{
  padding: 1.2%;
}
#tituloPortfolio, #tituloAbout, #tituloContact{
  padding-bottom: 3%;
}
.about{
  background: #18bc9c;
  padding: 8%;
}
.about h2{
  color: white;
  font-size: 2.8em;
  font-family: 'Montserrat', sans-serif;
}
.about p{
  color: white;
  font-size: 1.2em;
  padding: 2.5%;
  line-height: 1.5;
}
.about button{
  border-radius: 7px;
  border: 2px solid white;
  padding: 2%;
  color: white;
  font-size: 1.2em;
  background: none;
  margin-top: 4%;
}
.about button:hover{
  color: #18bc9c;
  background: white;
}
.contact h2{
  color: #333;
  font-size: 2.8em;
  font-family: 'Montserrat', sans-serif;
}
.contact .fa-star{
  color: #2C3E50;
}
.contact>article>section>div{
  background:#2C3E50;
}
form>input,textarea{
  width: 100%;
  padding: 20px;
  font-size: 1.5em;
  border-top: 1px solid #eee;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
textarea{
  border-bottom:  1px solid #eee;
}
.contact button{
  border-radius: 7px;
  border: none;
  background: #18bc9c;
  padding: 13px 18px;
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  margin: 20%;
}
footer{
  background: #2C3E50;
  padding: 4%;
}
footer h3{
  color: white;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}
footer p{
  font-size: 1.3em;
  color: white;
  margin-top: 5%;
  padding: 3%;
  padding-bottom: 0px;
}
footer a{
  color: #18BC9C;
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
}
footer .icoRedes{
  display: inline-block;
  border: 2px solid white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 9% 3%;
  padding: 2.5%;
  color: white;
  font-size: 1.2em;
}
footer .icoRedes:hover{
  color:#18BC9C;
  background: white;
}
.copyright{
  font-size: .8em;
  background: #233140;
  color: white;
  padding: 2%;
  line-height: 1.5;
}
